/* You can add custom styles here. */

// @import "plugins/numbered";

  // {{< alinti >}}
  blockquote
{
  font-style:normal;
  margin-left:32px;
  font-family:"Segoe Print", "Times New Roman", Verdana;
  padding-left: 48px;
  background:url('/css/images/blockquote.png');
  background-repeat:no-repeat;
  min-height: 30px;
}
